## Don't Save Secrets That pertain to Secure details
.secrets.yml
vault.yml
## Don't Save Log Files
*.log
support-bundle.zip

# Don't Include Vagrant support files
.vagrant
hcl_domino_standalone_provisioner/id_rsa
hcl_domino_standalone_provisioner/Hosts.yml
hcl_domino_standalone_provisioner/results.yml
# Don't include your ID Files!
id-files/*.ids
id-files/*.id
id-files/*.IDS
id-files/*.ID
DeployKey_rsa
*.vdi
vault-Docova.yml

*.IDS
*.ID
*.id
*.ids
SAFE.IDS

# Build Files to Ignore
.DS_Store
*.swp
.classpath
.project
.settings/
.gradle/
build/
test_files/

*/installers/*/archives/*.tar.xz
*/installers/*/archives/*.tar.gz
*/installers/*/archives/*.tar
*/installers/*/archives/*.zip
*/installers/*/archives/*.gz
*/installers/*/archives/*.tgz

.vscode/settings.json
