# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Scripts should be enforced to use Linux-style newlines
*.sh text eol=lf

#Private Key should be Linux-style newlines
id_rsa text eol=lf